.welcomeBox{
    margin: 0;
    width: 100%;
    height: 84.5vh;

    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 70px;
    flex-direction: column;
    transition: 0.5s;

}

:global(html.light) .welcomeBox{
    --main-text-color: black;
}